@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to devils backyard</h1>
    <img src="https://i.guim.co.uk/img/media/ef8302d17377e158a642fcccf275c4a8a86eb681/0_187_3000_1800/master/3000.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=9cdc04575765b9f9ea44471bfe7d6c52" alt="This is old Trafford"/>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
